@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #171717;
  --foreground: white;
}


body {
  color: var(--foreground);
  background: var(--background);
  
}

@layer components {
  .container {
    @apply mx-auto px-4 max-w-7xl mt-2 
  }

}